# http client
PUERTO=3001

# Configuracion
DBTYPE=postgresql

# Base de datos
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDBNAME=mydatabase


#Base de datos Mongo
MONGOUSER=
MONGOPASSWORD=
MONGOCLUSTER=
MONGODBNAME=
MONGOAPPNAME=
MONGOCOLLECTION=
